@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* For Big Screen 


screen width 1440 px


*/
/* header big starts  */
header{
    position: static;
    width: 100%;
    padding: 0px;
}
/* nav big starts  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12.92vw;
    width: 81vw;
    margin: 0px auto;
    padding: 1.38vw 0vw;
}


nav .menu{
    display: none;
}


nav .logo{
    display: flex;
    width: 14.02vw;
    justify-content: flex-start;
    align-items: center;
    gap: 0.76vw;
}


nav .logo img{
    width: 4.31vw;
}
nav .logo h1{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 2.22vw;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul{
    display: flex;
    width: 26.875vw;
    justify-content: space-between;
    align-items: center;
    gap: 2.22vw;
}

nav ul li{
    list-style: none;
    font-family: Quicksand;
    font-size: 1.38vw;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul > li:first-child{
    color: rgb(254, 163, 1);
}

nav ul > li:nth-child(2){
    color: rgb(1, 172, 253);
}

nav ul > li:nth-child(3){
    color: rgb(5, 212, 223);
}

nav ul > li:nth-child(4){
    color: rgb(93, 88, 239);
}

nav button{
    width: 13.68vw;
    height: 3.2rem;
    padding: 0.68rem 0.7vw;
    border-radius: 0.75rem;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.38vw;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    background: rgb(254, 163, 1);
    border: 0px;
}


/* nav big ends  */

/* header-content big starts  */
.header-content{
    width: 81vw;
    height: 89.56vh;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.47vh;
}

.header-content .content-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}


.header-content .content-text h1{
    width: 44.44vw;
    height: 183px;
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 3.88vw;
    font-weight: 700;
    line-height: 4.17vw;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px;
}


.header-content .content-text h1 .text-1{
    color: rgb(254, 163, 1);
}


.header-content .content-text h1 .text-2{
    color: rgb(1, 172, 253);
}


.header-content .content-text p{
    width: 44.44vw;
    height: 50px;
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1.38vw;
    font-weight: 400;
    line-height: 1.73vw;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px;
}

.header-content .content-text button{
    width: 13.68vw;
    height: 50px;
    padding: 10px 0.69vw;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.38vw;
    font-weight: 700;
    line-height: 2.08vw;
    letter-spacing: 0%;
    text-align: center;
}

.header-content .content-img img{
    width: 32.54vw;
    height: 575px;
}
/* header-content big ends */
/* header big ends */


/* main big starts  */
/* curriculum big starts  */
main .curriculum{
    width: 100%;
    background: url(assets/bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.55vw;
    padding: 60px 0px;
}


main .curriculum h1{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 3.19vw;
    font-weight: 700;
    line-height: 4vw;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
}

main .curriculum .curriculum-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 9.72vw;
    gap: 2.01vw;
}


main .curriculum .curriculum-card img{
    width: 9.5vw;
    height: 9.5vw;
}


main .curriculum .curriculum-card h1{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 1.7vw;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}


main .curriculum .curriculum-card p{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 1.05vw;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 2.85vw;
}


main .curriculum .curriculum-card button{
    width: 7.15vw;
    padding: 0px 4.72px 0px 0px;
    font-family: Quicksand;
    font-size: 1.05vw;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
    border: none;
}


main .curriculum .curriculum-card .card-1, main .curriculum .curriculum-card .card-2, main .curriculum .curriculum-card .card-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .curriculum .curriculum-card .card-1{
    width: 25.54vw;
    height: 476.78px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

main .curriculum .curriculum-card .card-2{
    width: 25.54vw;
    height: 476.78px;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

main .curriculum .curriculum-card .card-3{
    width: 25.54vw;
    height: 476.78px;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}


main .curriculum .curriculum-card .card-1 button{
    color: rgb(100, 200, 255);
}

main .curriculum .curriculum-card .card-2 button{
    color: rgb(240, 170, 0);
}

main .curriculum .curriculum-card .card-3 button{
    color: rgb(135, 0, 255);
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
}

.slider .slide-left, .slider .slide-right{
    width: 4.17vw;
    height: 4.17vw;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.67vw;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
/* curriculum big ends  */
/* story big starts  */
.story{
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    width: 100%;
}

.story-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.17vw 0px;
    gap: 5.56vw;
}


.story-card-1{
    grid-area: myArea;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-card-1 img{
    width: 99.9%;
    border-radius: 16px 16px 0px 0px;
}


.story-card-1-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 2.67vw;
}

.story-card-1 h1{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 1.67vw;
    font-weight: 700;
    line-height: 38.35px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0.2vw 4.24vw 0.27vw 0px;
}

.story-card-1 p{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
}

.story-card-2{
    grid-area: myArea2;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-card-2 img{
    width: 99.9%;
    border-radius: 16px 16px 0px 0px;
}

.story-card-3{
    grid-area: myArea3;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-card-3-1, .story-card-3-2{
    display: none;
}

.story-card-3 img{
    width: 99.9%;
    border-radius: 16px 16px 0px 0px;
}

.story-card-4{
    grid-area: myArea4;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-card-4 img{
    width: 99.9%;
    border-radius: 16px 16px 0px 0px;
}

.story-card-5{
    grid-area: myArea5;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-card-5 img{
    width: 99.9%;
    border-radius: 16px 16px 0px 0px;
}

.story-card-2 h1, .story-card-3 h1, .story-card-4 h1, .story-card-5 h1{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0.33vw 1.11vw 0.33vw 0px;
    margin: 0px 2.64vw;
}



.story-card{
    display: grid;
    grid-template-areas: 
    "myArea myArea myArea2 myArea3"
    "myArea myArea myArea4 myArea5";
    gap: 1.32vw;
    width: 81vw;
}


.story button{
    width: 13.68vw;
    padding: 0.69vw;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.38vw;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.story .story-card button{
    width: 12.11vw;
    border-radius: 47.93px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1.07vw;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    border: none;
    padding: 0px;
    height: 2.64vw;
    position: relative;
    top: -1.82vw;
    left: 2.10vw;
}


.story .story-card-1 button{
    background: rgb(60, 216, 232);
    height: 3.33vw;
}

.story .story-card-2 button{
    background: rgb(149, 178, 38);
}

.story .story-card-3 button{
    background: rgb(93, 88, 240);
}

.story .story-card-4 button{
    background: rgb(149, 178, 38);
}

.story .story-card-5 button{
    background: rgb(149, 178, 38);
}



/* story big ends  */
/* main big ends  */

/* For Small Screen 


screen width 390 px


*/


/* header small starts  */
@media screen and (max-width: 390px) {
    .head-nav{
        width: 91.53vw;
        padding: 0px;
        margin: 0px;
        border: 0.08vh solid rgb(254, 163, 1);
    }

/* nav small starts  */

    nav ul, nav button, nav .logo h1{
        display: none;
    }

    nav .menu{
        display: flex;
    }

    nav .menu i{
        width: 7.7vw;
        padding: 1.17vh 0.96vw;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    nav .logo{
        display: flex;
        width: 12vw;
        height: 7.17vh;
        justify-content: flex-start;
        align-items: center;
    }

/* nav small ends  */
/* header-content small starts  */

.header-content{
    width: 91.53vw;
    height: 725px;
    margin: 0px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 20px 0px 20px 0px;
}

.header-content .content-text{
    width: 86.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}


.header-content .content-text h1{
    width: 91.53vw;
    height: 120px;
    font-size: 8.21vw;
    line-height: 40px;
    text-align: center;
}


.header-content .content-text p{
    width: 91.53vw;
    height: 54px;
    font-size: 3.58vw;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.header-content .content-text button{
    width: 33.6vw;
    height: 42px;
    padding: 6px 5.8vw;
    border-radius: 8px;
    font-size: 4.1vw;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.header-content .content-img img{
    width: 86.3vw;
    height: 380px;
}
/* header-content small ends */
/* header small ends  */
/* main small starts  */
/* curriculum small starts  */


main .curriculum .curriculum-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.6vw;
}


main .curriculum .curriculum-card img{
    width: 23.74vw;
    height: 23.74vw;
}


main .curriculum .curriculum-card h1{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 4.26vw;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
    width: 36vw;
}


main .curriculum .curriculum-card p{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 2.62vw;
    margin: 0px 13.74vw;
    width: 50vw;
}


main .curriculum .curriculum-card button{
    width: 17.87vw;
    padding: 0.82vw 4.04vw 0.82vw 0px;
    font-family: Quicksand;
    font-size: 2.62vw;
    font-weight: 700;
}


main .curriculum .curriculum-card .card-content-1, main .curriculum .curriculum-card .card-content-2, main .curriculum .curriculum-card .card-content-3{
    width: 90vw;
    height: 421.28px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}


main .curriculum .curriculum-card .card-content-1{
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}


main .curriculum .curriculum-card .card-content-2{
    border: 0.64px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 19.16px 0.64px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}



main .curriculum .curriculum-card .card-content-3{
    border: 0.64px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 19.16px 0.64px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}


main .curriculum .curriculum-card .card-1{
    padding: 9.23vw 7.2vw;
    border: none;
    box-shadow: none;
    background: none;
}

main .curriculum .curriculum-card .card-2{
    padding: 9.23vw 7.2vw;
    border: none;
    box-shadow: none;
    background: none;
}

main .curriculum .curriculum-card .card-3{
    padding: 9.23vw 7.2vw;
    border: none;
    box-shadow: none;
    background: none;
}


.slider{
    display: none;
}

/* curriculum small ends  */

/* story small starts  */

.story-card-1{
    display: none;
}

.story-card-2{
    grid-area: myArea2;
    border-radius: 2.44vw;
}

.story-card-2 img{
    border-radius: 2.44vw 2.44vw 0vw 0vw;
}

.story-card-3{
    grid-area: myArea3;
    border-radius: 2.44vw;
}

.story-card-3-1{
    display: grid;
    grid-area: myArea31;
    border-radius: 2.44vw;
    background: rgb(255, 255, 255);
}

.story-card-3-2{
    display: grid;
    grid-area: myArea32;
    border-radius: 2.44vw;
    background: rgb(255, 255, 255);
}

.story-card-3-1 img, .story-card-3-2 img{
    width: 99.9%;
    border-radius: 2.44vw 2.44vw 0vw 0vw;
}

.story-card-4{
    grid-area: myArea4;
    border-radius: 2.44vw;
}

.story-card-4 img{
    border-radius: 2.44vw 2.44vw 0vw 0vw;
}

.story-card-5{
    grid-area: myArea5;
    border-radius: 2.44vw;
}

.story-card-5 img{
    width: 99.9%;
    border-radius: 2.44vw 2.44vw 0vw 0vw;
}

.story-card-2 h1, .story-card-3 h1, .story-card-3-1 h1, .story-card-3-2 h1, .story-card-4 h1, .story-card-5 h1{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 2.33vw;
    font-weight: 700;
    line-height: 4.39vw;
    letter-spacing: 0%;
    text-align: left;
    padding: 0.73vw 5vw 0.73vw 0px;
    margin: 0px 5.89vw 4.39vw 5.89vw;
}



.story-card{
    display: grid;
    grid-template-areas: 
    "myArea2 myArea3"
    "myArea31 myArea32"
    "myArea4 myArea5";
    gap: 2.32vw;
    width: 91vw;
}


.story button{
    width: 34.36vw;
    padding: 2.56vw;
    border-radius: 12px;
    font-size: 4.1vw;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.story .story-card button{
    width: 26.64vw;
    border-radius: 7.32vw;
    font-size: 2.34vw;
    font-weight: 500;
    height: 5.85vw;
    top: -3.9vw;
    left: 5.10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story .story-card-3-1 button, .story .story-card-3-2 button{
    background: rgb(93, 88, 240);
}



/* story small ends  */
/* main small ends  */

}

