@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');
/* screen width 1440 px and my width screen 1519 px, so width = width*1.05 */

/* header starts  */
header{
    position: static;
    width: 72.5rem;
    margin: auto;
    padding: 1.25rem 0rem;
}
/* nav starts  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11.625rem;
    width: 100%;
}


nav i{
    visibility: hidden;
}


nav .logo{
    display: flex;
    width: 12.625rem;
    justify-content: flex-start;
    align-items: center;
    gap: 0.68rem;
}

nav .logo h1{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul{
    display: flex;
    width: 24.18rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul li{
    list-style: none;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul > li:first-child{
    color: rgb(254, 163, 1);
}

nav ul > li:nth-child(2){
    color: rgb(1, 172, 253);
}

nav ul > li:nth-child(3){
    color: rgb(5, 212, 223);
}

nav ul > li:nth-child(4){
    color: rgb(93, 88, 239);
}

nav button{
    width: 12.31rem;
    height: 3.2rem;
    padding: 0.625rem;
    border-radius: 0.75rem;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    background: rgb(254, 163, 1);
    border: 0px;
}


@media screen and (max-width: 400px) {
    nav ul, nav button, nav .logo h1{
        display: none;
    }

    nav i{
        visibility: visible;
    }

    header{
        position: static;
        width: 72.5rem;
        margin: auto;
        padding: 1.25rem 0rem;
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    nav .menu i{
        width: 2.53rem;
        height: 2.53rem;
        padding: 7.5px 3.75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .logo{
        display: flex;
        width: 12.625rem;
        justify-content: flex-start;
        align-items: center;
    }
}
/* nav ends  */
/* header ends */